@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    background: #e2d8f9; /* Gradiente */
    width: 100%; /* Full width */
}

html {
    scroll-behavior: smooth;
  }